@import "../node_modules/bootstrap/scss/functions";

@media screen(min-width: 641px;){
.jumbotron-fluid{
    .container-fluid{
    //box-sizing: border-box;
    background-image: url('images\hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
    }
}
@media screen(max-width: 640px){
    .jumbotron-fluid{
        .container-fluid{
        background-image: url('images\hero-mobile.jpg');
        height: 100vh;
        width: 100%;
        }
    }
}
body{
    margin:0;
    padding: 0;
}
/*.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}*/

/*.hero{
    width: 100%;
    height: 100vh;
    background-image: url('images/hero-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    

}*/

/*@media screen only(min-width: 576px){
    .hero{
        background-image: url('images\mobile.jpg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    */